@media screen and (max-width: 800px){

  :root{
    --padding: 5%
  }
  
  body{
    background-color: black;
    color: white;
    font-size: 19px;
  }

  header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  article{
    padding: 20px 0;
    background-color: black;
    border-bottom: none;
  }

  .main-pic img{
    align-items: center;
    height: auto;
    padding: var(--padding);
  }

  .menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .cards h2{
    font-size: 20px;
  }

  footer h3{
    font-size: 22px;
    padding-bottom: 5px;
    color: #6836cd ;
  }

  nav{
    padding: 0;
  }

  .menu a{
    color: white;
  }

  .menu a:hover{
    border-bottom: 0.1px solid #6836cd;
  }

  main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards{
    flex-direction: column;
  }

  .card , .card.small{
    width: 100%;
  }

  footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fafafa;
    color: #000;
    width: 100%;
    gap: 40px;
  }

  footer a{
    color: black;
  }
  

  .opening-time{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navigation-menu{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 50px;
  }

  .archives{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .logo{
    background-color: white;
    grid-template-columns: auto auto auto auto;
  }

  .logo img{
    width: 50px;
    height: auto;
  }

}
  